/* based on https://github.com/markdowncss/splendor */
/* @import "furtive-print"; */
/* @import "furtive-typescale"; */
/* @import "furtive-responsive-utils"; */

/* @import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300); */
@import url(http://fonts.googleapis.com/css?family=Zilla+Slab:300italic,300);

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #444;
  /* font-family: 'Merriweather', Georgia, serif; */
  font-family: 'Zilla Slab', Georgia, serif;
  margin: 0;
  max-width: 100%;
}

/* === A bit of a gross hack so we can have bleeding divs/blockquotes. */
p,
*:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
  margin: 1rem auto 1rem;
  max-width: 36rem;
  padding: .25rem;
}

div {
  width: 100%;
}

div img {
  width: 100%;
}

/* ul,ol,li { */
/*     margin-left: 50rem; */ 
/*     padding-left: 90rem; */
/* } */

blockquote p {
  /* font-size: 1.5rem; */
  font-size: 1rem;
  /* font-style: italic; */
  color:CadetBlue;
  margin: 1rem auto 1rem;
  /* max-width: 48rem; */
}

details {
    /* background-color:CadetBlue; */
    background-color:#eff5f5;
    border-radius: 30px;
}

summary {
    color:#4d7e80;
}

li { margin-left: 5rem; }
/* li ~ li { margin-left: 10rem; } */
/* li ~ li ~ li { margin-left: 15rem; } */
/* li ~ li ~ li ~ li { margin-left: 20rem; } */
/* li { margin-left: 25rem; } */
/* li { margin-left: 30rem; } */

/* Counteract the specificity of the gross *:not() chain. */
h1 {
  padding: 4rem 0 !important;
}
/*  === End gross hack */

/* https://css-tricks.com/examples/hrs/ */
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

hr.fade {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p {
  color: #555;
  height: auto;
  line-height: 1.45;
}

pre, code {
  font-family: Menlo, Monaco, "Courier New", monospace
}

pre {
  /* background-color: #fafafa; */
    background-color:#304f50;
    color: Beige;
  font-size: .8rem;
  overflow-x: scroll;
  padding: 1.125em;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}
